* {
    box-sizing: border-box;
}

#root {
    height: 100%;
    width: 100%;
}

body {
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto',
        'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
        'Helvetica Neue', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
        monospace;
}

header {
    padding: 10px;
}

form {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin: 10px;
}
form * {
    margin: 0 10px;
}
form input {
    font-size: larger;
}
form label {
    margin-right: 0;
}

.rootContainer {
    padding: 0 20vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
}

.items {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
}

.item {
    margin: 5px 0;
    padding: 0 5px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    border: 3px solid black;
    border-radius: 5px;
}

.item h3 {
    margin: 0 5px;
}
